/* 전체 기본 */
body {
    margin: 0;
    font-family: "Pretendard", sans-serif;
}
/* Header 컨테이너 */
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    flex-wrap: nowrap;
    height: 65px;
    box-sizing: border-box;

}
/* 로고 */
.logo {
    font-size: 20px;
    font-weight: bold;
    height: 100%;
    line-height: 1;
    background-image: url("/images/program_logo_1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
/* 네비게이션 메뉴 */
.nav-menu {
    display: flex;
    align-items: center;
    gap: 10px;
}
/* 버튼 공통 스타일 */
.home-button,
.alltype-button {
    background: transparent;
    border: none;
    padding: 0 16px;
    transition: transform 0.25s ease, background-color 0.25s ease;
    cursor: pointer;
    font-size: clamp(14px, 2vw, 16px);
    border-radius: 10px;
    color: #666;
}
/* 버튼 hover */
.home-button:hover {
    background-color: rgba(255, 150, 255, 0.35);
    transform: translateY(-3px) scale(1.05);
}
.alltype-button:hover {
    background-color: rgba(200, 150, 255, 0.35);
    transform: translateY(-3px) scale(1.05);
}
/* 반응형 */
@media (max-width: 600px) {
    .nav-bar{
        padding: 12px 4%;
        height: 70px;
    }
    .nav-menu button {
        margin-left: 10px;
    }
}
